<%= javascript_pack_tag 'application' %>

<div data-controller='confetti' method='get' class="confetti-div">
  <canvas data-action="load@window->confetti#render" id="my-canvas"></canvas>
</div>

<div class="welcome">
  <section>
    <h1 class="zab-h1">zero</h1>
    <h1 class="zab-h1">and</h1>
    <h1 class="zab-h1">beyond<span class="logo-period">.</span></h1>
    <div class="buttons">
      <%= button_to "Login with Google", "/auth/google_oauth2", class: "btn btn-primary login-btn" %>
    </div>
  </section>
  <section class="welcome-progress-bars">
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Avant</div>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">USAA</div>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">Student Loan</div>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Discover</div>
    </div>
  </section>
</div>
