/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,900&display=swap');
@import 'bootstrap';

$light-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);

body {
  background-color: #f7f7f7;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23efe9f7' fill-opacity='0.28' fill-rule='evenodd'/%3E%3C/svg%3E");
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding: 0;
}

header {
  background-color: #f7f7f7;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23efe9f7' fill-opacity='0.28' fill-rule='evenodd'/%3E%3C/svg%3E");
  padding: 0 100px;
  height: 90px;
}

.confetti-div {
  position: absolute;
  z-index: 1;
}

#login-btn {
  margin: 5px 0;
  position: absolute;
  height: 65px;
  font-size: 1.5rem;
  width: 250px;
  z-index: 2;
}

aside {
  background-color: #eaecef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

tr {
  text-align: center;
}

th {
  font-weight: 400;
}

#my-index {
  height: 100vh;
}

.dashboard {
  display: grid;
  grid-template-columns: 20% 1fr;
  height: 100vh;
}

.account-selection {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.account-selection h1 {
  background-color: rgba(0, 0, 0, 0.2);
  display: grid;
  font-size: 5rem;
  font-weight: 900;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  padding: 100px;
}

.account-balance {
  font-weight: 300;
}

.ynab-connection-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.ynab-connection-wrapper svg {
  margin: auto;
  padding: auto 40px;
  width: 95%;
}

.ynab-connection-wrapper section {
  background-color: #302e41;
  padding: 50px;
  text-align: left;
}

.ynab-connection-wrapper section h1 {
  color: #f6f7fb;
  line-height: 70px;
  margin: 110px auto;
}

.ynab-connection-wrapper section h1 mark {
  background-color: #d1cee2;
  color: #302e41;
  line-height: 70px;
  letter-spacing: -2px;
  margin: 110px auto;
}

.ynab-connection-wrapper section a {
  font-size: 23px;
  height: 50px;
  width: 300px;
}

.ynab-connection-wrapper section h1 span {
  color: #007bff;
  text-decoration: underline;
}

.progress-header {
  display: flex;
  flex-direction: column;
}

.main {
  padding: 30px 50px;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  width: 38px;
  height: 38px;
  background: white;
  border-radius: 5px;
  border: 1px solid #ced4da;
  cursor: pointer;
  margin-left: 2px;
  outline: none;
}

input[type='checkbox']:checked {
  background: #007bff;
}

.jumbotron {
  background-color: #b786f8;
  padding: 0;
  width: 100%;
}

.jumbotron #600 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.jumbotron mark {
  background-color: #f7f7f7;
  border-radius: 5px;
}

.welcome section {
  background-color: #b786f8;
  height: 500px;
  padding: 50px 100px;
}

.welcome {
  background-color: #f7f7f7;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23efe9f7' fill-opacity='0.28' fill-rule='evenodd'/%3E%3C/svg%3E");
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 100vmax;
}

.zab-h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 4.5rem;
  font-weight: 900;
  margin: 0;
}

.welcome-progress-bars {
  margin: 0 auto;
  width: 100%;
}

.welcome-progress-bars p {
  padding: 0 50px;
  margin-bottom: 0;
}

.welcome-progress-bars h2 {
  padding: 0 50px;
  text-align: center;
}

.logo-period {
  color: #007bff;
}

.welcome .btn {
  margin: 100px 0;
}

.welcome .progress {
  box-shadow: $light-shadow;
  height: 25px;
  margin: 0px 50px 20px;
}

.debts-wrapper {
  border: 2px solid #d1cee2;
  border-radius: 5px;
  padding: 20px;
}

.progressbar-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.welcome .progress-bar {
  text-align: left;
  padding-left: 10px;
}

.buttons {
  display: flex;
}

.form-section {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.form-section form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.form-group .btn {
  display: block;
  margin: 20px auto;
}

.form-group h4 {
  margin: 15px 0 0 12px;
}

.form-group label {
  margin: 5px 0 0;
  font-family: 'Robbins', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.account-wrapper {
  display: flex;
  justify-content: center;
}

.account-details {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.account-details {
  margin-right: 5px;
}

.progress-control-wrapper {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
}

.debt-progress {
  height: 50px;
  width: 70%;
  text-align: right;
}

.progress-current-total {
  font-size: 20px;
  text-align: left;
  margin-left: 5px;
}

.progress-starting-total {
  font-size: 20px;
  margin-right: 5px;
  width: 100%;
}

.debt-payoff-bar {
  height: 50px;
  width: 100%;
}

.debt-freedom-text {
  font-size: 20px;
  width: 340px;
}

.snowball-control {
  background-color: #e9ecef;
  height: 145px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: $light-shadow;
  border-radius: 10px;
}

.snowball-btn {
  width: 50%;
  height: 35px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.snowball-wrapper {
  background-color: #f6f7fb;
  height: 140px;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  box-shadow: $light-shadow;
}

.snowball-wrapper p {
  width: 60%;
  word-wrap: normal;
  margin: 0 auto;
}

.payoff-schedule-wrapper {
  margin-top: 40px;
}

.payoff-schedule-wrapper table {
  box-shadow: $light-shadow;
}

.container {
  padding: 0;
}

.snowball-input {
  border: transparent;
  border-radius: 5px;
  margin-top: 5px;
  width: 65%;
  box-shadow: $light-shadow;
}

.aside-user-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.aside-user-info img {
  border-radius: 50%;
  height: 90px;
  width: 90px;
}

.logout-btn {
  margin-bottom: 20px;
  width: 130px;
}
