/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,900&display=swap');
@import 'bootstrap';

body {
  display: grid;
  box-sizing: border-box;
}

.welcome {
  background-color: #fbfbfd;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vmax;
  min-width: 100vmax;
  padding-left: 50px;
}

.zab-h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 8rem;
  font-weight: 900;
  height: 120px;
  margin: 0;
}

.logo-period {
  color: #007bff;
}

.welcome .btn {
  margin: 100px 0;
}

.welcome .progress {
  height: 30px;
  margin: 20px 50px;
}

.welcome .progress-bar {
  text-align: left;
  padding-left: 10px;
}

.buttons {
  display: flex;
}

.form-section {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.form-section form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.form-group .btn {
  display: block;
  margin: 20px auto;
}

.form-group h4 {
  margin: 15px 0 0 42px;
}

.form-group label {
  margin: 5px 0 0;
  font-family: 'Robbins', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.account-wrapper {
  display: flex;
  justify-content: center;
}

.account-details {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.account-details {
  margin-right: 5px;
}
